@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Heebo", "sans-serif";
}

body {
    background-color: #262424;
}

:root {
  --mainColor: #e28e2f;
}